<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List of all orders</title>
</head>
<body>

<h1>All orders</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Customer</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="o : ${orders}">
        <td th:text="${o.id}">1</td>
        <td th:text="${o.customer}">Luxoft</td>
        <td th:text="${o.amount}">1</td>
    </tr>
    </tbody>
</table>

</body>
</html>